.container {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.container.active {
  display: flex;
}

.wrapper {
  width: 100%;
  max-width: 48em;
  padding: 4em 1em;
  position: relative;
  animation: show 300ms alternate;
  border-radius: 8px;
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
  background: var(--primary-black-bg, #080f20);
  backdrop-filter: blur(12px);
  -webkit-animation: show 300ms alternate;
}

@keyframes show {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.closeBtn {
  fill: var(--icon-color);
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.4em;
  height: 1.4em;
  padding: 0.25em;
  border-radius: 0.25em;
  background: var(--btn-close);
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.closeBtn:hover {
  box-shadow: var(--shadow-dark);
}

.content {
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  padding: 2em 4em;
  border-radius: 0.5em;
}

.content h3 {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.content h6 {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.content p {
  font-size: 0.85rem;
  color: var(--outline-dark);
  margin-bottom: 1.5em;
}

.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 1.5em;
}

.inputContainer label {
  position: absolute;
  font-size: 0.75rem;
  top: -24px;
  font-weight: 600;
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.inputContainer input {
  width: 100%;
  padding: 0.5em;
  padding-top: 1em;
  border: 2px solid var(--outline);
  border-radius: 0.25em;
}

.inputContainer input:focus {
  border: 2px solid var(--main-color);
  outline: none;
}

.inputContainer input::placeholder {
  color: var(--text-placeholder-light);
}

.content button {
  cursor: var(--cursor-pointer);
  transition: all 300ms;
  border-radius: 40px;
  background: var(--primary-primary-blue, #20c1ff);
  color: var(--primary-black-bg, #080f20);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 100%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  padding: 12px 34px;
}

.content button {
  background: var(--main-color);
  color: white;
}

.content button:hover {
  background: var(--main-hovered);
}

.errorMessage {
  margin-top: -3em;
  margin-bottom: 1em;
  font-size: 0.75rem;
  display: none;
  transition: all 300;
}

.errorMessage.error {
  display: inline-flex;
  color: var(--error-500);
}

@media screen and (max-width: 768px) {
  .content {
    padding: 2em;
  }
}
