.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  border-radius: 2px;
  cursor: pointer;
  min-width: 286px;
  width: 286px;
  height: 405px;
  gap: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.container * {
  color: var(--transparent-white-white-90);
}

.container:hover {
}

.imageContainer {
  height: 100%;
  width: 100%;
}

.imageWrapper {
  height: 100%;
  position: relative;
}

.image {
  width: 288px;
  height: 288px;
  object-fit: cover;
  transition: transform 300ms;
  position: absolute;
  background-color: black;
  border: 0.3px solid var(--primary-blue);
}

.details {
  width: 100%;
}

.nameAndChainWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.name {
  max-width: 10em;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--primary-white, #ecf1f9);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.chain {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.description {
  width: 100%;
  max-width: 18em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #6c757d;
}

.listing {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

.counts {
  padding: 0.5em 1em;
  border-radius: 2px;
  background: rgba(73, 100, 254, 0.24);
  font-weight: 700;
  font-size: 14px;
}

.priceLabel {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}

.amount span {
  font-weight: 500;
  font-size: 16px;
  /* color: var(--main-color); */
  /* font-size: 0.85rem; */
}

.amount span.accent {
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .description {
    max-width: 16em;
  }

  .btn {
    padding: 0.25em 2em;
  }
}
