.container {
  width: 100%;
  max-width: 24em;
  min-width: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.container * {
  color: var(--transparent-white-white-90);
}

.container:hover .image {
  transform: scale(1.05);
}

.imageContainer {
  width: 100%;
  /* padding: 0.5em; */
  /* padding: 4px; */
  overflow: hidden;
}

.imageWrapper {
  /* width: 20em; */
  /* border-radius: 0.7em; */
  overflow: hidden;
  height: 16em;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.image {
  /* width: 18.5em; */
  height: 14.5em;
  object-fit: cover;
  /* border-radius: 0.7em; */
  transition: transform 300ms;
  position: absolute;
  background-color: black;
  border: 0.3px solid var(--primary-blue);
}

.details {
  width: 100%;
  border-top: 1px solid rgba(28, 27, 28, 0.1);
  border-bottom: 1px solid rgba(28, 27, 28, 0.1);
  margin-top: 24px;
}

.nameAndChainWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.name {
  max-width: 10em;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chain {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.description {
  width: 100%;
  max-width: 18em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #6c757d;
}

.listing {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

.counts {
  padding: 0.5em 1em;
  border-radius: 2px;
  background: rgba(73, 100, 254, 0.24);
  font-weight: 700;
  font-size: 14px;
}

.priceLabel {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}

.amount span {
  font-weight: 500;
  font-size: 16px;
  /* color: var(--main-color); */
  /* font-size: 0.85rem; */
}

.amount span.accent {
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .description {
    max-width: 16em;
  }

  .image {
    height: 14em;
  }

  .name,
  .description,
  .priceLabel,
  .counts,
  .amount {
    font-size: 0.85rem;
  }

  .btn {
    padding: 0.25em 2em;
  }
}
