html {
  height: 100%;
}

body {
  overflow-x: hidden !important;
}

.container {
  width: 100%;
  margin-bottom: 12em;
}

.innerContainer {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2em;
  background: #0d1b3a;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  transform: translateY(50%);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2em;
}

.thumbnail {
  width: 199px;
  height: 199px;
  border-radius: 4px;
  border: 3px solid var(--primary-black-bg);
}

.linksAndCollectionDetailWrapper {
  flex: 1;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 1em;
}

.nameAndChainWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.name {
  font-weight: 900;
  font-family: jost;
  line-height: 40px;
  color: var(--primary-white);
  font-size: 32px;
}

.chain {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.creator {
  display: flex;
  gap: 0.5em;
  align-items: baseline;
}
.creator p {
  color: #6c757d;
  transition: color 300ms;
}
.creator .accent {
  display: flex;
  align-items: center;
}
.creator .accent a {
  font-weight: 600;
  color: #20c1ff;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  font-family: Poppins;
}
.creator .accent a:hover {
  color: var(--main-color);
}

.socialLinks {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  display: none;
  gap: 8px;
}

.link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.link img {
  /* color: var(--primary-light-blue) !important; */
}

.innerContainer_2 {
  width: 100%;
  padding: 0 2em;
  transform: translateY(7em);
}

.wrapper_2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.description {
  width: 100%;
  max-width: 48em;
  margin-bottom: 2em;
  color: #525c76;
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.statWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  /* background: #f4fafc; */
}

.statWrapper img {
  width: 2em;
}

.details ._1,
.details ._2 {
  /* font-size: 0.8rem; */
  font-family: jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: var(--primary-white) !important;
  letter-spacing: 0em;
  display: flex;
  gap: 8px;
}

.details ._1 {
  color: var(--primary-white);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.details ._2 span {
  color: var(--primary-white);
  font-family: jost;
  font-size: 22px;
}
.details ._2 img {
  height: 16px;
  width: 16px;
}

.details ._2 .accent {
  font-weight: 600;
}
.statsAccent {
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary-white) !important;
}
.collectionDescription p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-wrap: wrap;
  color: var(--primary-white);
  line-height: 24px;
  margin-top: 4px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 6em;
  }

  .innerContainer_2 {
    transform: translateY(4em);
  }

  .thumbnail {
    width: 6em;
    height: 6em;
  }

  .name {
    font-size: 1rem;
  }

  .chain {
    width: 1.5em;
    height: 1.5em;
  }

  .link {
    width: 1.2em;
    height: 1.2em;
  }

  .description {
    font-size: 0.85rem;
  }

  .creator span {
    font-size: 0.85rem;
  }

  .statsContainer {
    gap: 1em;
  }

  .statWrapper {
    padding: 0.5em;
    gap: 0.5em;
  }

  .statWrapper img {
    width: 1.2em;
  }

  .details ._1,
  .details ._2 {
    font-size: 0.65rem;
  }
  .linksAndCollectionDetailWrapper {
    transform: translateY(-2rem);
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin-bottom: 4em;
  }
  .socialLinks {
    display: flex;
    margin-top: 16px;
    gap: 18px !important;
  }
  .details ._2 span {
    font-size: 18px;
  }
  .wrapper {
    background: var(--primary-black-bg);
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  .linksAndCollectionDetailWrapper {
    transform: translateY(-4rem);
    gap: 8px;
  }
  .innerContainer {
    padding: 0 0.5em;
    height: 101px;
  }

  .innerContainer_2 {
    padding: 0 1em;
  }

  .innerContainer_2 {
    transform: translateY(3em);
  }

  .thumbnail {
    width: 128px;
    height: 128px;
    transform: translateY(-50%);
  }

  .name {
    font-size: 18px;
  }

  .chain {
    width: 0.8em;
    height: 0.8em;
  }

  .creator span {
    font-size: 0.65rem;
  }

  .details ._1,
  .details ._2 {
    font-size: 12x;
  }
}
