.container {
  margin-bottom: 3em;
  border-radius: 4px;
  border: 1px solid var(--primary-dark-blue, #262b92);
}

.heading {
  padding: 1em 1.5em;
  font-weight: 700;
  font-size: 18px;
  font-family: "Jost";
  text-transform: capitalize;
  color: var(--primary-white, #ecf1f9) !important;
}

.history {
  overflow: auto;
}
