.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
}

.container button {
  border: 1px solid var(--outline);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 0.25em; */
  /* background: var(--error-400); */
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  background: var(--transparent-black-black-30, rgba(3, 7, 16, 0.3));
}

.container button svg {
  width: 24px;
  height: 24px;
}

._0 {
  background: var(--outline) !important;
  cursor: no-drop;
}

.container input::placeholder {
  color: var(--outline);
}

.closeIcon {
  fill: var(--default);
}
