.container {
  padding: 2em 2em 6em;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 3em;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.title {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  /* Subheading-1-Jost */
  font-family: "Jost";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
.description {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-family: "Jost";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.cardDeck {
  display: flex;
  width: 890px;
  align-items: flex-start;
  gap: 30px;
}
.card {
  display: flex;
  height: 240px;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23747C90FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  transition: background-image 10ms ease-in-out;
  /* max-width: 20em; */
  /* background: var(--default);
  border: 1px solid #e5e8eb;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 1rem;
  width: 100%;
  cursor: pointer;
  text-align: center; */
}

.comingSoon {
  background-color: var(--card-light);
  color: var(--card-shade);
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
}

.noDrop:hover {
  cursor: no-drop;
}

.extra {
  display: grid;
  gap: 27px 29px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  margin-top: 29px;
  width: 100%;
  transition: all 200ms ease;
}
.extra.active {
  max-height: 50rem;
  overflow: hidden;
  padding-bottom: 1rem;
}

.card:hover {
  background: var(--marketplaceBg);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2393A3F8FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.icon {
  /* background: #f3f6fc;  */
  /* border-radius: 50%; */
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  /* width: 6.5rem;
  height: 6.5rem; */
  border-radius: 40px;
  background: rgba(187, 197, 255, 0.08);
}

.tweetIcon {
  padding-left: 25px;
  padding-top: 20px;
}

.card:hover .icon svg path {
  fill: var(--primary-light-blue);
}

.icon svg {
  width: 48px;
  height: 48px;
}
.cardTitle {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  /* subheading-small-jost */
  /* font-family: Jost; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.cardDescription {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.moreBTN {
  color: var(--main-color);
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.moreBTN.active svg {
  transform: rotate(180deg);
}
.moreBTN svg {
  width: 2.3rem;
  height: fit-content;
  transition: transform 200ms ease-in-out;
}
.moreBTN svg path {
  fill: var(--main-color);
}
@media screen and (max-width: 650px) {
  .cardDeck,
  .extra {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 15px;
  }
  .card {
    padding: 1.25rem 1rem;
    max-height: 180px;
  }
  .cardTitle {
    font-size: 0.75rem;
  }
  .cardDescription {
    font-size: 0.5rem;
  }
  .icon {
    width: 57px;
    height: 57px;
    padding: 8px;
  }
  .moreBTN {
    margin-top: 1rem;
  }
  .comingSoon {
    padding: 0.25rem;
    font-size: 13px;
  }
}
