.container {
  margin-bottom: 1em;
}

.heading {
  font-weight: 900;
  font-size: 32px;
  color: var(--default);
  margin-bottom: 1em;
}

.display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  gap: 2em;
}

.display > * {
  flex: 0 0 auto;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.btn {
  background: transparent;
  text-transform: capitalize;
  padding: 0.5em 2.5em;
  border-radius: 0.7em;
  cursor: var(--cursor-pointer);
  color: var(--primary-light-blue-2, #93a3f8);
  text-align: center;
  border-radius: 50px;
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
  transition: background 300ms, color 300ms;
}

.btn:hover {
  background: var(--primary-light-blue-2, #93a3f8);
  color: var(--default);
}
