.container {
  width: 100%;
  background: var(--default);
  padding: 2em 1em;
  margin-bottom: 6em;
  animation: show 650ms;
  background: var(--primary-black-bg, #080f20);

  padding: 16px 188px;
}

.ipfs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tick {
  background: red;
  fill: var(--default);
  fill-opacity: 20%;
  border-radius: 50%;
}

.hashtags {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
}
.hashtag {
  border: 1px solid var(--card-outline);
  padding: 0.5em;
  border-radius: 10em;
  width: fit-content;
  color: var(--main-color);
  margin-bottom: 0.3em;
}

.noTag {
  color: var(--card-outline);
}

@keyframes show {
  from {
    transform: scale(0.99) translateY(1em);
  }

  to {
    transform: scale(1) translateY(0);
  }
}

.container textarea:hover,
.container input:hover {
  cursor: var(--cursor-default);
}

.container input,
.container textarea {
  background: var(--card-trait);
  outline: none;
}

.container input:focus,
.container textarea:focus {
  border: none;
  outline: 1px solid var(--main-color) !important;
  cursor: text;
}

.wrapper {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
  gap: 3em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.headerTitle {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  /* Subheading-1-Jost */
  /* font-family: Jost; */
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
.headerDescription {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  /* subheading-small-jost */
  /* font-family: Jost; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.headerDescription span {
  display: inline-block;
  color: var(--main-color);
}
.headerDescription span svg {
  display: block;
  width: 6rem;
}
.grid {
  /* display: grid;
  grid-template-columns: 27% calc(73% - 2rem);
  gap: 2rem; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mintSection {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.assetContainer {
  display: flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;

  border-radius: 4px;
  border: 1px solid rgba(187, 197, 255, 0.16);
}

.imageContainers {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

.imageContainer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5em;

  min-width: 178px;
  min-height: 166px;
}

.singleImage {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow-light);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.assetContainer button {
  display: flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 40px;
  border: 2px solid var(--primary-light-blue, #bbc5ff);

  color: var(--primary-light-blue, #bbc5ff);

  /* Button 2 */
  /* font-family: DM Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.assetContainer button:hover {
  background: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  cursor: var(--cursor-pointer);
  color: white;
}

.assetInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 4px;
  align-items: center;
  gap: 16px;
}

.innerAssetInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.25rem;
}

.innerAssetInfo div {
  display: flex;
  align-items: center;
}

.innerAssetInfo div span {
  color: var(--transparent-white-white-85, rgba(251, 251, 251, 0.85));

  /* Caption */
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.innerAssetInfo div p {
  font-weight: 600;
  color: var(--text-heading);
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 2px;
}

.innerAssetInfo .assetInfoTitle > span {
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));

  /* subheading-small-jost */
  /* font-family: Jost; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.assetInfoMintPrice {
  background: var(--main-lightest);
  padding: 4px 10px;
}

.required {
  color: var(--error-500);
}

.showPreview {
  font-size: 0.85rem;
  color: var(--main-color);
  cursor: var(--cursor-pointer);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

div.showPreview > span {
  color: var(--main-color);
}

.showPreview img {
  width: 1em;
  transition: all 300ms;
}

.showPreview:hover {
  text-decoration: underline;
}

.showPreview:hover img {
  transform: translateX(50%);
}

.showPreview_ {
  position: absolute;
  left: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor-pointer);
}

.showPreview_ img {
  width: 1.5em;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.headerIcon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: rgba(187, 197, 255, 0.08);
}
.headerIcon svg {
  width: 100%;
  height: 100%;
}
/* .headerIcon svg path {
  stroke: white;
} */

.headerText {
  /* color: var(--main-color); */
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.25rem;

  color: var(--primary-white, #ecf1f9);
  text-align: center;
  /* subheading-small-jost */
  /* font-family: Jost; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.category {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
}

.info {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1em;
  border-radius: 0.5em;
  background: var(--card-info);
}

.info span {
  font-size: 0.85rem;
  font-weight: 400;
  white-space: break-spaces;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* width: 100%;
  margin-bottom: 2.5em;
  border: 1px solid var(--card-outline);
  border-radius: 0.5em;
  padding: 1em; */
  /* box-shadow: var(--shadow-light); */
}

.dropInputWrapper {
  border: none;
  margin-bottom: 0;
  padding: 0;
  box-shadow: none;
}

.inputWrapper label {
  display: flex;
  /* margin-bottom: 0.75em;
  font-weight: 500; */
  color: var(--transparent-white-white-85, rgba(251, 251, 251, 0.85));

  /* Body 2 */
  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.inputWrapper label div {
  margin-left: 0.5em;
}

.inputWrapper textarea,
.inputWrapper input,
.inputWrapper select,
.chinLabel {
  /* display: block;
  padding: 0.5em;
  resize: none;
  border-radius: 0.5em;
  border: 1px solid var(--outline);
  color: var(--transparent-white-white-85, rgba(251, 251, 251, 0.85));
  background-color: none;
  font-size: 1rem; */

  display: flex;
  width: 100%;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  background: var(--transparent-black-black-30, rgba(3, 7, 16, 0.3));

  overflow: hidden;
  color: var(--transparent-white-white-50, rgba(251, 251, 251, 0.5));
  text-overflow: ellipsis;
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price input {
  width: 80%;
  margin-right: 1rem;
}

.price span {
  color: var(--main-color);
  font-weight: bold;
  min-width: 20%;
  justify-content: center;
  display: flex;
}

.inputWrapper textarea:focus,
.inputWrapper input:focus,
.inputWrapper select:focus {
  outline: 1px solid gray;
}

.inputWrapper button {
  display: flex;
  transition: all 300ms;
  color: var(--primary-light-blue, #bbc5ff);

  /* Button 2 */
  /* font-family: DM Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  font-size: 1rem;
}

.inputWrapper button:hover {
  color: var(--main-hovered);
}

.attributes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.mintOptions {
  width: 100%;
}

.mintButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.mintButtonWrapper button {
  width: 10em;
  padding: 0.75em 0;
  /* border-radius: 0.7em; */
  cursor: var(--cursor-pointer);
}

.mintBtn {
  border-radius: 40px;
  background: var(--primary-primary-blue, #3856ff);
  border: 1px solid var(--primary-primary-blue, #3856ff);
  color: var(--default);
  font-size: 1rem;
  transition: all 300ms;
}

.mintBtn:hover {
  border: 1px solid var(--primary-light-blue, #bbc5ff);
  background: var(--primary-black-bg, #080f20);
}

.cancelBtn {
  border-radius: 40px;
  border: 1px solid var(--primary-light-blue, #bbc5ff);
  background: var(--primary-black-bg, #080f20);
  color: var(--default);
  transition: all 300ms;
  font-size: 1rem;
}

.cancelBtn:hover {
  background: var(--primary-primary-blue, #3856ff);
  border: 1px solid var(--primary-primary-blue, #3856ff);
  color: var(--default);
}

.metadata {
  border: 1px solid var(--outline-dark);
  box-shadow: var(--shadow-light);
  border-radius: 0.375em;
  padding: 0.5em;
}

.trait_type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em 1em;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.trait_type span {
  padding: 0.25em 0.5em;
  font-size: 0.85rem;
  background: #e5e8eb;
  border-radius: 3px;
}

.attribute {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.attribute > * {
  flex: 1;
  border: 1px solid var(--outline);
  padding: 0.25em;
  border-radius: 0.25em;
}

.priceInput {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}

.calcPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 0.85rem;
}

.warn {
  color: var(--error-500);
}

.dropWrapper > div {
  width: 256px;
  height: 176px;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23747C90FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.5em;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  cursor: var(--cursor-pointer);
}

.dropWrapper > div {
  background: var(--marketplaceBg);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2393A3F8FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dropWrapper > div:hover .selectImg p {
  color: var(--main-color);
}

.dropWrapper div img {
  height: 6rem;
}

.dropWrapperSeleted div img {
  height: 90%;
}

.priceTooltip div {
  margin-left: 0.625em;
}

.noClick {
  pointer-events: none;
  opacity: 0.3;
}

.noClick:hover {
  cursor: not-allowed;
}

.mintForm {
  display: flex;
  /* width: 775px; */
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  border-radius: 4px;
  border: 1px solid rgba(187, 197, 255, 0.16);
}

.selectImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectImg p {
  color: #adb5bd;
  font-size: 1.25rem;
  margin-top: 0.3em;
}

.selectImg svg {
  height: 65px;
  width: 76px;
  padding: 0.6rem 1.1rem;
  border-radius: 0.1875em;
}

.chainDropdown {
  width: 100%;
  border-left: 1px solid rgba(147, 163, 248, 0.24);
  border-right: 1px solid rgba(147, 163, 248, 0.24);
  /* border: 2px solid transparent; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  /* background: var(--default); */
  transition: all 650ms;
}

.chainDropdown.active {
  max-height: 12em;
  overflow: auto;
  border-color: var(--outline);
}

.categoryWrapper {
  max-width: 20em;
}

.chain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid rgba(147, 163, 248, 0.24);
  /* border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  background: rgba(8, 15, 32, 0.15);
  backdrop-filter: blur(25px); */
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));
}

.chain span {
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));
}

.chain img {
  width: 2em;
}

.chain.active {
  /* border-radius: 0.5em; */
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chainLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.chain.disable {
  background: var(--card-trait);
  position: relative;
}

.chain.disable:hover::before {
  position: absolute;
  content: "coming soon";
  right: 1em;
  background: var(--warning-300);
  color: var(--default);
  padding: 0 0.15em;
}

.toggleTitle {
  display: flex;
  justify-content: space-between;
}
.inputWrapper.hide {
  opacity: 0.5;
  filter: alpha(opacity = 60);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  pointer-events: none;
}

.confirm {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  color: var(--primary-white, #ecf1f9);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.confirmCheckbox {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  margin-right: 1em;
  cursor: var(--cursor-pointer) !important;
  max-width: 20px !important;
  height: 20px !important;
  border: 1px solid var(--primary-blue) !important;
  background: none !important; /* Remove the background */
}

.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  background: var(--transparent-black-black-30, rgba(3, 7, 16, 0.3));
  padding-right: 0.5em;
}

.inputContainer input {
  border: none;
}

.inputContainer input:focus {
  outline: none !important;
}

.toggleTitle .category {
  width: 16em;
  margin-left: 0px;
  color: var(--primary-white, #ecf1f9);

  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.otherAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.qrScanner {
  margin-left: 10px;
  margin-top: 40px;
  cursor: pointer;
}

.qrScanner:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.receiverAddress {
  transition: opacity 1s ease-out;
  width: 100%;
  max-width: 25em;
}
.noDisplay {
  display: none;
  transition: opacity 1s ease-out;
}

.overlayImage {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
  height: auto;
}
.headerIcon .vibeIcon path:first-child {
  fill: var(--main-color);
}
.headerIcon .vibeIcon path {
  stroke: var(--default);
}
/* .headerIcon .artICon path:last-child {
  fill: var(--default);
}
.headerIcon .artICon path {
  stroke: var(--default);
} */
.headerIcon .seshIcon path {
  fill: var(--default);
}
.headerIcon .photoIcon path {
  fill: var(--default);
}

.tweet {
  width: 28em;
}

@media (max-width: 1024px) {
  .container {
    padding: 24px 16px;
  }

  .imageContainer {
    min-width: 74px;
    min-height: 95px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2em 1rem;
    margin-bottom: 4em;
  }
  .headerDescription {
    margin-bottom: 3rem;
  }
  .headerTitle {
    font-size: 2rem;
  }
  .headerDescription {
    font-size: 1rem;
  }
  .headerDescription span svg {
    width: 4rem;
  }
  .tweet {
    width: 20em;
  }
  .imageContainers {
    width: 100%;
  }

  .showPreview_ {
    left: 0;
  }

  .mintButtonWrapper button {
    font-size: 0.85rem;
    width: 8em;
  }

  .innerAssetInfo {
    font-size: 0.85rem;
  }

  .assetContainer button {
    padding: 0.5em 0.75em;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 550px) {
  .price input {
    width: 50%;
    margin-right: 1rem;
  }

  .assetContainer {
    padding: 16px;
  }

  .assetInfo {
    align-items: flex-start;
    flex-direction: column;
  }

  .innerAssetInfo {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .headerDescription {
    font-size: 0.875rem;
  }
  .headerDescription span svg {
    width: 3.5rem;
  }
  .heading {
    font-size: 1.2rem;
  }
  .headerText {
    font-size: 1.2rem;
  }
  .headerIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .category {
    font-size: 0.9rem;
  }
  .grid {
    width: 95%;
  }

  .dropWrapper > div {
    width: 100%;
  }
}

/* Slidder */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbc5ff29;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  /* background-color: #2196f3;border-radius: 32px; */
  background: var(--primary-primary-blue, #3856ff);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.locationSlider.active + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.locationSlider.active + .slider {
  box-shadow: 0 0 1px #2196f3;
  background-color: #2196f3;
}
