.container {
  width: 100%;
  padding: 16px;
  gap: 24px;
  border-radius: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  cursor: var(--cursor-pointer);
  border: 1px solid var(--primary-dark-blue, #262b92);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.layer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
}

.heading h3 {
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.title {
  color: var(--text-dark-900);
  font-weight: 500;
}

.wrapper {
  width: 100%;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  gap: 1em;
  padding-bottom: 12px;
}

.uploadIconBig {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: rgba(187, 197, 255, 0.08);
}

.uploadIconBig svg {
  fill: #fbfbfb80;
}

.wrapper:hover .uploadIconBig svg {
  fill: var(--main-color);
}

.uploadCard {
  width: 100%;
  gap: 32px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: var(--cursor-pointer);
  padding: 64px 0;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23fbfbfb80' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  transition: 300ms;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.uploadCard:hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2320C1FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.uploadCard > svg path {
  fill: #c1ddff;
}

.uploadBtn {
  color: var(--primary-primary-blue, #20c1ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.uploadBtn:hover {
  color: var(--default);
}

.uploadTitle {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.uploadText {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.addIcon,
.uploadIcon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadIcon svg {
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;

  fill: #fbfbfb80;
}

.btnContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
}

.btnContainer .upload,
.btnContainer .addBlank {
  border-radius: 0.5em;
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transition: all 300ms;

  border-radius: 40px;
  padding: 8px 16px;
  border: 2px solid var(--primary-light-blue-2, #93a3f8);
  background: var(--primary-black-bg, #080f20);
  color: var(--primary-light-blue-2, #93a3f8);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.btnContainer .upload:hover,
.btnContainer .addBlank:hover {
  border: 2px solid var(--main-color);
}

@media screen and (max-width: 768px) {
  .uploadText {
    font-size: 0.8em;
  }

  .upload,
  .addBlank {
    font-size: 12px !important;
  }
}
