.container {
  margin: 1em auto;
  position: relative;
  padding: 16px 188px;
}

.desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.backBtnContainer {
  padding: 0;
  margin-bottom: 2em;
  margin-top: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  cursor: pointer;
  display: none;
}

.backIcon {
  width: 1em;
  transition: transform 300ms;
}

.backBtnContainer:hover .backIcon {
  transform: translateX(-30%);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.sectionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  margin-bottom: 3em;
}

.nftSection {
  width: 40%;
}

.detailSection {
  width: 60%;
}

.priceHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.historySection {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
  margin-bottom: 4em;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 24px 16px;
  }

  .detailSection {
    padding-top: 2.2em;
  }
  .wrapper {
    max-width: 56em;
  }
}

@media screen and (max-width: 900px) {
  .nftSection,
  .detailSection {
    width: 50%;
  }
  .wrapper {
    max-width: 64em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 24px 16px;
  }
  .wrapper {
    max-width: 64em;
  }

  .sectionWrapper {
    flex-direction: column;
    align-items: center;
  }

  .detailSection,
  .nftSection {
    width: 100%;
  }
  .nftSection {
    min-width: 100%;
  }
}
