.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 48px;
  padding: 16px 188px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-family: "Jost";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
.description {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.cardDeck {
  display: flex;
  gap: 27px 29px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: auto;
  width: 900px;
}
.typeCard {
  display: flex;
  height: 240px;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23747C90FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  cursor: pointer;
  transform: translateX(-2%);
  padding: 8px;
  transition: background-image 10ms ease-in-out;
  animation: slide-right 850ms forwards;
}

.typeCard:hover {
  background: var(--marketplaceBg);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2393A3F8FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.cardTitle {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.cardDescription {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
}

@keyframes slide-right {
  from {
    transform: translateX(2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.icon {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  align-items: center;
  background: #f3f6fc;
  border-radius: 11px;
  padding: 9px 7px 9px 1rem;
  gap: 1rem;
  width: 100%;
}
.typeIcon {
  background: var(--default);
  border-radius: 10px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.typeIcon svg path {
  fill: var(--text-light);
}
.typeCard:last-child .typeIcon svg path {
  fill: var(--default);
  stroke: var(--text-light);
}
.typeCard:hover .typeIcon svg path {
  fill: var(--main-color);
}
.typeCard:last-child:hover .typeIcon svg path {
  stroke: var(--main-color);
  fill: var(--default);
}
.text {
  display: flex;
  flex-direction: column;
  width: calc(100% - 52px);
}
.cardDesc {
  font-size: 10px;
  color: #959ca3;
}
.moreBTN {
  color: var(--main-color);
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.moreBTN.active svg {
  transform: rotate(180deg);
}
.moreBTN svg {
  width: 2.3rem;
  height: fit-content;
  transition: transform 200ms ease-in-out;
}
.moreBTN svg path {
  fill: var(--main-color);
}

@media (max-width: 1024px) {
  .typeCard {
    padding: 24px;
  }

  .container {
    padding: 24px 16px;
  }

  .cardDeck {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 15px;
  }
  .icon {
    width: 80px;
    height: 80px;
    padding: 1rem;
  }
}
