.container {
  width: 50%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--primary-dark-blue, #262b92);
}

.heading {
  color: var(--primary-white, #ecf1f9);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.content {
  height: 32em;
  overflow-y: scroll;
  background-color: #03071099;
}

.content * {
  color: var(--text-placehoder);
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
