.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 3em 1em;
}

.imageContainer {
  height: 480px;
  width: 12vmax;
  position: relative;
}

.imageContainer img:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 120px;
}
.imageContainer img:nth-child(2) {
  position: absolute;
  left: -120px;
  top: 90px;
}
.imageContainer img:nth-child(3) {
  position: absolute;
  top: 180px;
  left: -20px;
}

.container h1 {
  color: var(--primary-primary-blue, #20c1ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
