.chainsListContainer {
  padding: 10px;
  background-color: #bbc5ff1a;
  color: var(--primary-white);
  border-radius: 10px;
  margin: 0 1em;
}
.chainList:last-child {
  margin-bottom: 0 !important;
}
.chainList {
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chainList img {
  margin-right: 8px;
  border-radius: 50px;
  background-color: var(--primary-light-blue);
}
.chainList span {
  color: var(--primary-white) !important;
}
.chainList a {
  font-size: 14px !important;
  color: var(--primary-light-blue) !important;
}
.avatar {
  position: relative;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--primary-light-blue);
}
.avatar img {
  height: auto;
  width: 100%;
  display: inline-block;
  user-select: none;
}
.listView {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 16px;
}
.listView span {
  min-width: 56px;
  flex-shrink: 0;
  letter-spacing: 0.00938em;
  display: block;
  color: var(--transparent-white-white-70);
}
.listView div {
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--primary-white) !important;
  display: block;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.popupContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

.popupContainer.active {
  display: block;
}

.connect {
  width: 100%;
  max-width: 12em;
  padding: 0.5em 1.5em;
  border-radius: 40px;
  cursor: var(--cursor-pointer);
  color: var(--default);
  background: var(--primary-blue);
  text-align: center;
  transition: 300px;
  -webkit-transition: 300px;
  -moz-transition: 300px;
  -ms-transition: 300px;
  -o-transition: 300px;
}

.connect:hover {
  background: #2d46d6;
  /* background: var(--main-hovered); */
}

.connectedContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 2px;
  border: 1px solid var(--filtersText);
}

.balance {
  color: var(--filtersText);
  font-size: 14px;
  padding: 0.5em;
}

.connected {
  display: flex;
  height: 35px;
  padding: 12px 4px 12px 16px;
  justify-content: center;
  gap: 1em;
  cursor: var(--cursor-pointer);
  border-radius: 40px;
  background: var(--primary-light);
  padding: 0.25em 1em;
  transition: all 150ms;
}

.connected:hover {
  background: #2d46d6;
  color: var(--main-hovered);
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor-pointer);
  font-size: 2rem;
}

.user img {
  width: 1em;
  height: 1em;
}

.chain {
  height: 24px;
  width: 24px;
  background: var(--primary-blue);
  border-radius: 50%;
  display: inline-block;
}

.address {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0;
  position: relative;

  text-align: center;
}

.address > span {
  color: var(--primary-black-bg, #080f20) !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.userAvatar {
  width: 26px;
  height: 26px;
  border-radius: 26px;
}

.dropdownIconContainer {
  border-left: 1px solid var(--outline);
  padding: 0 0.25em;
}

.dropdownIcon {
  fill: var(--default);
}

.networkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.25em;
  cursor: pointer;
}

.activeNetwork {
  color: var(--filtersText);
  font-size: 1.1rem;
  font-weight: 600;
}

.chevronIcon {
  width: 0.75em;
  height: 0.75em;
  fill: var(--main-color);
}

.networkDropdownContainer {
  width: max-content;
  position: absolute;
  top: 0.75em;
  right: 0;
  visibility: hidden;
  cursor: pointer;
}

.networkContainer:hover .networkDropdownContainer {
  animation: drop 300ms forwards;
  visibility: visible;
  -webkit-animation: drop 300ms forwards;
}

.networkDropdown {
  border: 1px solid var(--card-outline);
  overflow: hidden;
  margin-top: 1.75em;
  background: var(--default);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  text-align: center;
}

.networkDropdown:hover {
  background: var(--card-light);
}

.network:hover .networkDropdown {
  visibility: visible;
  transform: translateY(100%);
}

.network .dot {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
  background: #f1b56e;
}

.network .dot.mainnet {
  background: #6be26b;
}

.dropdownContainer {
  width: max-content;
  top: 2em;
  position: absolute;
  visibility: hidden;
}

.connectedContainer:hover .dropdownContainer,
.notification.notiActive .pushNotification {
  animation: drop 300ms forwards;
  visibility: visible;
  z-index: 2000;
}

.pushNotification {
  position: absolute;
  width: max-content;
  top: 2em;
  right: 0;
  visibility: hidden;
}

@keyframes drop {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(0);
  }
}

.dropdown div {
  color: var(--filtersText);
}
.dropdown {
  background: var(--body-bg);
  width: 19em;
  border: 1px solid var(--card-outline);
  overflow: hidden;
  margin-top: 1em;
  border-radius: 0.5em;
  padding: 10px;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  cursor: pointer;
  margin: 5px 0;
}
.option:hover div {
  color: var(--primary-white);
}

.option:hover {
  background: #bbc5ff1a;
  color: var(--primary-white);
}

.option img {
  width: 1.2em;
}
.notificationContent {
  position: relative;
  gap: 2em;
}
.notification {
  margin: 0 18px;
  margin-top: 7px;
}
.notification img {
  width: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .connect {
    max-width: 100%;
  }
  .container {
    gap: 24px;
  }

  .networkContainer {
    gap: 24px;
  }

  .balance {
    display: none;
  }

  .address {
    padding: 0.25em 8px;
  }

  .connect {
    padding: 10px 20px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    justify-content: space-between;
  }
  .popupContainer.active {
    animation: 300ms forwards;
  }
  .pushNotification {
    right: -6.5em;
    top: 3em;
  }
  .container {
    gap: 24px;
  }

  .networkContainer {
    gap: 24px;
  }

  .balance {
    display: none;
  }

  .connected,
  .networkContainer,
  .container {
    gap: 0;
  }
}
@media screen and (max-width: 380px) {
  .dropdownContainer {
    left: 0;
  }
  .pushNotification {
    right: -1.7em;
  }

  .container {
    flex-direction: column;
    gap: 24px;
  }

  .networkContainer {
    gap: 24px;
  }

  .balance {
    display: none;
  }
}
