/* Accordion */

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1em;
  padding-top: 80px;
  margin: 0 auto;
  margin-bottom: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nft {
  width: 430px;
  align-self: center;
  height: 430px;
  object-fit: cover;
}

.container span {
  align-self: center;
  font-weight: 600;
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
.section {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.feature {
  margin-bottom: 1rem;
  border: solid 1px #e5e8eb;
  border-radius: 10px;
}

.mainDetails {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid #e5e8eb;
  display: flex;
  flex-direction: row;
  background-color: #f3f4f7;
  border-radius: 10px 10px 0 0;
}

.nftId {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;

  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 16px;
}
.buy {
  flex-direction: row;
  margin: 1rem 0.5rem 1rem 0;
  color: white;
  padding: 0 0.5rem;
  height: 3rem;
  width: 11rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--main-color);
}

.viewtext {
  display: flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 40px;
  background: var(--primary-primary-blue, #20c1ff);
  width: 196px;
  color: var(--primary-black-bg, #080f20);
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.viewtext:hover {
  color: white;
  background: var(#56cfff);
}
.detailContent {
  display: flex;
  gap: 12px;
}

.buy:hover,
.detailContent img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.detailContent img {
  width: 50px;
  cursor: var(--cursor-pointer);

  padding: 10px;
  border-radius: 24px;
  border: 1px solid var(--transparent-white-white-50, rgba(251, 251, 251, 0.5));
  background: var(--transparent-black-black-60, rgba(3, 7, 16, 0.6));
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 56px;
    gap: 56px;
  }

  .view {
    width: 100%;
  }

  .viewtext {
    width: 100%;
  }

  .nft {
    aspect-ratio: 1;
    width: 100%;
    height: initial;
  }

  .nftId {
    width: 90%;
  }
}
