.container {
  width: 100%;
  /* max-width: 24em; */
  padding: 0 2em;
  margin-bottom: 4em;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* background: linear-gradient(180deg, #e4f1fb 0%, rgba(217, 217, 217, 0) 100%); */
  padding-top: 64px;
}

.heading {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 1em;
}

.headingContainer,
.wrapper {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
}
.headingContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-between; */
}

.headingContainer * {
  color: var(--primary-white);
}

.skeletonWrapper {
  display: flex;
  gap: 1em;
  overflow-x: hidden;
  flex-flow: row nowrap;
}

.skeleton {
  width: 20em;
}
@media screen and (max-width: 900px) {
  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding: 0 1em;
    padding-top: 4em;
    margin-top: -6em;
  }

  .heading {
    font-size: 1.5rem;
  }
}

.content {
  width: 80%;
  margin-left: 10%;
}

.nfts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2em;
}

.btn {
  padding: 0.75em 4em;
  border-radius: 40px;
  color: var(--primary-white);
  transition: all 300ms;
  cursor: pointer;
  margin-top: 1em;
}

.btn {
  background: var(--primary-black-bg);
  border: 1px solid var(--primary-white);
}

.btn:hover {
  background: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}
