.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: sticky;
  gap: 16px;
  z-index: 15;
  top: 6em;
  max-width: 320px;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  height: calc(100vh - 7em);
  border: 1px solid var(--primary-dark-blue, #262b92);
  background: rgba(187, 197, 255, 0.02);
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container i {
  font-size: 14px;
  padding: 0 0.5em;
}

.collectionNameContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.collectionName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 4px 8px;
}

.collectionName form {
  flex: 1;
  height: 100%;
  display: flex;
}

.collectionName input {
  width: 100%;
  outline: none;
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary-dark-blue, #262b92);
  padding: 3px 1px;
}

.collectionName label {
  max-width: 14em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
}

.collectionName input::placeholder {
  color: var(--text-placeholder-light);
}

.divider {
  width: 100%;
  height: 1px;
  align-self: stretch;
  background: rgba(187, 197, 255, 0.16);
}

.editBtn {
  cursor: var(--cursor-pointer);
  padding: 0.1em;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn img {
  width: 100%;
}

.editIcon {
  fill: black;
}

.info {
  margin-bottom: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  stroke-width: 1px;
  padding: 8px 8px 11px 16px;
  fill: var(--bg-modals-dark, rgba(7, 18, 61, 0.5));
  stroke: var(--primary-light-blue-2, #93a3f8);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARoAAAA+CAYAAAD0+dQuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJ6SURBVHgB7dm/j8xpHMDx55mbsXvVzm2yl+tOx11jIrc5WxybnN275IpbjYYlGlEg/AMoJDqbUBDNBI0gYVckQrNUthBDIaJaOjZZSzDDYsw3kVAQkp1P93o1z/P9Ub/z+X6fnDom6s3l5XKut1Oq5ZSqCWDpLuZSz56dm/LDXETmh3K+fbdxozE1eWxmYX6ulQCWoNo/0Ds6unXVn0P/runEppaPnnp9Yebm5d6zZw7PJIAu2rJt37pVtbWplHJ77NrV040E0GVTk8eLAaZWKi6ezs+9TgBdtjD/pPgVUy0lgGBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QTGiCc0ADhhAYIJzRAOKEBwgkNEE5ogHBCA4QrQrPwU/9ATwLosmr/z73FWoSmMTKyuZYAuuyvtWMrOst0uZ1Ke1YPrr/SbL5sXZo6cScBLFHxlTQyOl5b/cf6Wi71rMnFzYl6c3m5nOud7XCCjxYX37TmHj+aPX/uyJWHs/eefemdoaH/fh3+e+NwX3Xgl0plWW+CT6aLQWb3+LI7OcFXTNTb1Upl8f+U3h9o3JqePXXy4PXPn2/fceifFb8NruxsD7x923Ny77a8kOALhIZvKibeSqW0/9XL52MPHtxutJovWit/H6z19Q3c7wRmg8DwLULDdzt6ujncOT9Yl9u52s7vJneN/zid4Dt8AI78hHJEELGeAAAAAElFTkSuQmCC");
  background-size: 100% 100%;
  max-width: 380px;
  margin: auto;
}

.info p {
  color: var(--primary-white, #ecf1f9);
  text-align: justify;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info .closeBtn {
  fill: #fbfbfbe5;
  width: 40px;
  cursor: var(--cursor-pointer);
}

.layerorder {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.layerHeadWrapper {
  width: 100%;
}

.layer_trait {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  text-transform: capitalize;
}

.layer_trait div {
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.listWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.list > div {
  cursor: var(--cursor-hover);
}
.list > div:active:hover {
  cursor: var(--cursor-grab);
}
.promptWrapper {
  width: 100%;
}

.addBtnContainer {
  position: relative;
}

.addBtn {
  width: 100%;
  background: var(--default);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  transition: all 300ms;
  border-radius: 40px;
  border: 2px solid var(--primary-primary-blue, #20c1ff);
  background: var(--primary-black-bg, #080f20);

  color: var(--primary-primary-blue, #20c1ff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.addIcon {
  fill: var(--main-color);
  width: 1.2em;
  height: 1.2em;
}

.addBtn:hover {
  background: var(--main-color);
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: initial;
    position: static;
  }
}
