.container {
  width: 100%;
  font-size: 1rem;
  height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.container h1 {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}

.text span {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 72px 16px 32px 16px;
    height: auto;
  }

  .button-container {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .button-container button {
    width: 100%;
  }

  .text span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
