.skeletonWrapper {
  display: flex;
  gap: 1em;
  overflow-x: hidden;
  flex-flow: row nowrap;
}

.skeleton {
  width: 20em;
}

.fullWidth {
  width: 100%;
}

.skeletonFull {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
