.container {
  width: 100%;
  box-shadow: 2px 7px 22px rgba(28, 27, 28, 0.1);
  border-radius: 1em;
}

.container * {
  color: var(--primary-white);
}

.heading {
  color: var(--primary-white, #ecf1f9);

  /* subheading-small-jost */
  /* font-family: Jost; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}

.attributes {
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.attribute {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--primary-dark-blue, #262b92);
}

.title {
  color: var(--primary-light-blue-2, #93a3f8);
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.value {
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));
  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 1200px) {
  .rarity,
  .type {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 540px) {
  .rarity,
  .type {
    font-size: 0.65rem;
  }

  .attributes {
    padding: 0.5em;
    /* grid-template-columns: auto; */
  }

  .attribute {
    padding: 0.5em;
    border-radius: 0.5em;
  }
}
