.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-bottom: 1px solid rgba(187, 197, 255, 0.08);
  background: var(--primary-black-bg, #080f20);
  backdrop-filter: blur(7.5px);
  color: var(--primary-white);
}

.wrapper {
  display: flex;
  padding: 16px 188px;
  justify-content: center;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.logo {
  display: flex;
  width: 129px;
  height: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topMenu {
  display: flex;
  align-items: center;
  gap: 56px;
  flex: 1 0 0;
}

.topNav {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}

.navItem {
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  /* font-family: Jost; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
}

.navItem:hover {
  color: var(--link-active);
}

.navItem.active {
  color: var(--link-active);
}

.navDecorator {
  display: none;
  width: 7px;
  height: 7px;
  background: var(--link-active);
  box-shadow: 0px 2px 5px rgba(86, 111, 254, 0.32);
  position: relative;
  bottom: -7px;
  transform: rotate(-45deg) translate(-50%);
  left: 50%;
}
.navItem.active .navDecorator {
  display: block;
}

.walletAuthContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.openNavbar {
  width: 32px;
  height: 32px;
  display: none;
}

.mobileMenu {
  position: fixed;
  top: 81px;
  width: 100%;
  height: calc(100vh - 81px);
  background: var(--primary-black-bg, #080f20);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1000;
  padding: 32px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.mobileMenu > a {
  color: var(--primary-white, #ecf1f9);
  /* font-family: 'Jost'; */
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  position: relative;
}

.mobileMenu > a.active {
  color: var(--secondary-yellow, #fec90c);
}

.mobileMenu > a .decorator {
  position: absolute;
  width: 3px;
  left: -32px;
  top: 0;
  height: 60px;
  background: var(--secondary-yellow);
  display: none;
}

.decorator.active {
  display: block !important;
}

.mobileWalletAuthContainer {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 24px 16px;
  }
  .topNav {
    display: none;
  }

  .walletAuthContainer {
    display: none;
  }
  .openNavbar {
    display: block;
  }
}
