.container {
  background: var(--default);
  border-radius: 8px;
  z-index: 2000;

  display: flex;
  width: 314px;
  height: 448px;
  padding: 16px 16px 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;

  background: var(--primary-black-bg, #080f20);
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  width: 100%;
}

.header h1 {
  color: var(--neutrals-8, #fbfbfb);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.closeIcon {
  cursor: var(--cursor-pointer);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.content h3,
.content span {
  color: var(--neutrals-8, #fbfbfb);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subsButton {
  width: 80%;
  height: 50px;
  color: var(--default);
  background: var(--main-light);
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .container {
    width: 360px;
  }
}
