.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  height: 100%;
}

.wrapper {
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 3em;
  right: 0.2em;
  padding: 0.5em 1em 1em 1em;
  box-shadow: 0px 1.43503px 2.87007px rgba(28, 27, 28, 0.05);
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  transform: translateY(-0.5em);
  border-radius: 8px;
  border: 1px solid var(--primary-light-blue, #bbc5ff);
  background: var(--primary-black-bg, #080f20);
}

.wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0em);
}

.filterBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding: 9px 1em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
}

.filterBtn div {
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));
}

.filterBtn:hover {
  border-radius: 4px;
  border: 1px solid var(--primary-primary-blue, #20c1ff);
}

.filterHeading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.5em 1em;
}

.sort,
.status {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 36px;
  padding: 10px 16px;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 2px;
  border: 1px solid var(--primary-black-bg, #080f20);
  background: var(--transparent-black-black-40, rgba(3, 7, 16, 0.4));
}

.status div,
.sort div {
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sort.active,
.status.active {
  border-radius: 2px;
  border: 1px solid var(--primary-dark-blue, #262b92);
  background: var(--transparent-black-black-60, rgba(3, 7, 16, 0.6));
}

.dropdown {
  display: flex;
  padding-bottom: 0.5em;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  align-self: stretch;
  border-bottom: 1px solid rgba(187, 197, 255, 0.16);
}

.priceDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.priceDropdown div {
  color: var(--transparent-white-white-70, rgba(251, 251, 251, 0.7));
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* gap: 8px; */
  align-self: stretch;
  margin-top: -1em;
}

.inputContainer {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
}

.inputContainer input {
  background: none;
  color: white;
  border: none;
  max-width: 6em;
}

.inputContainer input:focus {
  outline: none;
}

.label {
  display: flex;
  height: 20px;
  padding: 0px 0px 0px 3px;
  align-items: center;

  position: relative;
  left: -7em;
  top: 1em;

  color: var(--transparent-white-white-50, rgba(251, 251, 251, 0.5));
  /* font-family: Poppins; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */

  background: var(--primary-black-bg, #080f20);
  backdrop-filter: blur(8.5px);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 1em 0 0 0;
}

.btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 40px;
}

@media screen and (max-width: 540px) {
  .container {
    justify-content: flex-end;
  }

  .filterBtn {
    gap: 0.5em;
    padding: 9px 0.25em;
  }

  .filterBtn div {
    font-size: 0.85rem;
  }
}
