.container {
  flex: 1;
}

.placeholder {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.25em;
  transition: all 300ms;
  overflow: hidden;
}

.searchContainer {
  position: relative;
}

.placeholder {
  border-radius: 0.25em;
  padding: 0.25em 1em;
  border: 1px solid rgba(147, 163, 248, 0.24);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  background-color: var(--primary-black-bg);
}

.container.active .placeholder {
  display: none;
}

.placeholder:hover {
  cursor: var(--cursor-hover);
  border: 1px solid var(--main-color);
  background: var(--transparent-black-black-30, rgba(3, 7, 16, 0.3));
}

.placeholder input,
.searchContainer input {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  padding: 0.25em 0em;
  font-size: 1rem;

  padding: 0.25em;
  background-color: var(--primary-black-bg);
  color: var(--transparent-white-white-70);
}

.placeholder input {
  padding: 0.25em;
  background-color: var(--primary-black-bg);
  color: var(--transparent-white-white-70);
}

.placeholder input.mobile {
  display: none;
}

.clearInput {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clearInput.hide {
  display: none !important;
}

.dropdownContainer {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: flex-start;
  justify-content: center;
  background: rgb(20 20 20 / 60%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  padding: 0 2em;
  backdrop-filter: blur(8px);
}

.container.active .dropdownContainer {
  display: flex;
}

.dropdown {
  width: 100%;
  max-width: 42em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;

  border-radius: 8px;
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
  background: var(--primary-black-bg, #080f20);
  backdrop-filter: blur(12px);
}

.suggestions {
  width: 100%;
  overflow: auto;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 24px 16px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
  background: var(--primary-black-bg, #080f20);
  z-index: 1;
  margin-top: 8px;
}

.suggestions div {
  color: var(--transparent-white-white-90, rgba(251, 251, 251, 0.9));
}

.suggestion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
}

.suggestion span {
  color: var(--transparent-white-white-90, rgba(251, 251, 251, 0.9));
}

.suggestion:hover {
  border-radius: 2px;
  background: rgba(187, 197, 255, 0.08);
}

.hint {
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  gap: 24px;
}
.result {
  color: var(--main-color);
}
.showAll {
  display: flex;
  gap: 4px;
  cursor: pointer;
  color: var(--transparent-white-white-90, rgba(251, 251, 251, 0.9));
}
.showAll div {
  height: 100%;
  display: block;
  background: #e5e8eb;
  width: 2px;
  transition: color 300ms ease;
}
.showAll:hover {
  color: var(--main-color);
}
.image {
  width: 3.5em;
  height: 3.5em;
  border-radius: 2px;
  object-fit: cover;
}

.content {
  flex: 1;
}

.description {
  color: var(--text-sub-heading);
  font-size: 0.85rem;
}

.type_m,
.type {
  width: max-content;
  padding: 0 0.5em;
  border-radius: 2px;
  font-size: 0.85rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

  background: var(--primary-light-blue, #bbc5ff);
}

.type_m {
  display: none;
}

.chain {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .dropdownWrapper {
    padding-left: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .dropdownContainer {
    padding: 1em;
  }

  .suggestion {
    align-items: flex-start;
  }

  .image {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    border-radius: 2px;
    object-fit: cover;
  }

  .chain {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    align-self: center;
  }

  .description {
    white-space: nowrap;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .type {
    display: none;
  }

  .type_m {
    display: inline-flex;
    font-size: 0.75rem;
  }

  .placeholder input.desktop {
    display: none;
  }

  .placeholder input.mobile {
    display: block;
  }
}
