.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardContainer {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 800ms;
  padding: 1em 0;
}

.ctrlBtn_left,
.ctrlBtn_right {
  position: absolute;
  padding: 8px;
  z-index: 1;
  background: var(--primary-black-bg);
  cursor: var(--cursor-pointer);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 300ms;

  border: 2px solid var(--primary-white);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ctrlBtn_left:hover,
.ctrlBtn_right:hover {
  background: var(--primary-black-bg);
  box-shadow: var(--shadow-dark);
}

.ctrlBtn_left {
  left: 1em;
  display: none;
}

.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.ctrlBtn_left.active {
  display: flex;
}

.ctrlBtn_right {
  right: 1em;
}

.ctrlBtn_right.active {
  display: flex;
}

@media screen and (max-width: 540px) {
  .ctrlBtn_left,
  .ctrlBtn_right {
    display: none !important;
  }

  .cardContainer {
    overflow-x: scroll;
  }
}
