.container {
  width: 100%;
  padding: 6em 5em;
  margin-bottom: 4em;
  /* background: linear-gradient(180deg, #e4f1fb 0%, rgba(217, 217, 217, 0) 100%); */
}

.heading {
  color: var(--primary-white, #ecf1f9);

  /* Subheading-2-Jost */
  /* font-family: Jost; */
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 125% */

  backdrop-filter: blur(2.5px);
}

.headingContainer,
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding: 0 1em;
    padding-top: 4em;
    margin-top: -6em;
  }

  .heading {
    font-size: 1.5rem;
  }
}
