.container {
  position: fixed;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  left: 0;
  z-index: 100000;
  overflow: hidden;
  font-style: italic;
  color: var(--text-dark-900);
}

.container.isActive {
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  z-index: 100;

  border-radius: 8px;
  border: 1px solid var(--primary-light-blue-2, #93a3f8);
  background: var(--primary-black-bg, #080f20);
  backdrop-filter: blur(12px);
}

.wrapper p {
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 125% */
}

.action {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

.reject,
.accept {
  cursor: var(--cursor-pointer);
  transition: all 300ms;
  border-radius: 40px;
  background: var(--primary-primary-blue, #20c1ff);
  color: var(--primary-black-bg, #080f20);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 160px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  padding: 12px 34px;
}

.reject {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  border-radius: 40px;
  padding: 10px 32px;
  color: var(--primary-primary-blue, #20c1ff);
  border: 2px solid var(--primary-primary-blue, #20c1ff);
  background: var(--primary-black-bg, #080f20);
}

.reject:hover {
  background: var(--main-color);
  color: white;
}

.accept {
  background: var(--main-color);
  color: white;
}

.accept:hover {
  background: var(--main-hovered);
}
