.detail-section {
  width: 100%;
  margin-top: 2em;
}
.detail-section .title {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  color: var(--default);
}
.price-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-section .price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.chainIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.title {
  margin-bottom: 0.5em;
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));
  /* Button 2 */
  /* font-family: DM Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  /* color: var(--text-placeholder); */
}

.price-text {
  color: var(--primary-white, #ecf1f9);
  /* Headline 4 */
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.appx {
  font-size: 18px;
  color: var(--text-placeholder);
  margin-left: 4px;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 0.7em;
  background: var(--main-color);
  color: var(--default);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all 300ms;
  text-align: center;
  width: 200px;
  font-size: 14px;
  border-radius: 40px;
  background: var(--primary-primary-blue, #3856ff);
  border: 1px solid var(--primary-primary-blue, #3856ff);
}

.btn:hover {
  background: none;
  border: 1px solid var(--primary-light-blue);
  /* color: var(--main-color); */
}

.btn[disabled] {
  background: var(--outline-dark);
  cursor: not-allowed;
  border: 1px solid var(--outline-dark);
}

.btn[disabled]:hover {
  color: var(--outline);
}
.sea {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opensea {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 14px;
  color: var(--primary-light-blue);
}
.opensea:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .btn {
    padding: 0.5em 1.5em;
  }

  .price-section {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .price-section button {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .detail-section {
    margin-top: 0;
  }
  .btn {
    padding: 0.5em !important;
    width: 6em;
  }
}
