/* Accordion */

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8em;
  display: flex;
  flex-direction: column;
  padding: 16px 188px;
  gap: 24px;
}

.menu {
  margin: 5rem 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
}

.left {
  width: 30%;
  max-width: 25em;
}

.right {
  width: 50%;
  max-width: 50em;
}

.fullLegnth {
  width: 100%;
  max-width: 75em;
  margin: 5rem;
}
.section1 {
  display: grid;
  grid-template-columns: calc(40% - 2rem) 60%;
  gap: 2rem;
}

.v_subsection1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 1rem;
  gap: 1rem;
}

.v_subsection1 h1 {
  display: none;
  color: var(--primary-white, #ecf1f9);
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
  margin-top: 32px;
  margin-bottom: 40px;
}

.artwork {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.v_subsection2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.v_subsection2 h1 {
  color: var(--primary-white, #ecf1f9);
  text-align: left;

  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .title {
  color: var(--primary-white, #ecf1f9);

  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 125% */
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}
.footer .account {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  width: fit-content;
}
.footer .account p {
  color: var(--primary-light-blue-2, #93a3f8);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer .account div {
  color: var(--primary-white, #ecf1f9);

  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 125% */
}
.footer .account div img {
  width: 1.5em;
  border-radius: 50%;
}

.information {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.listHeader {
  display: flex;
  margin: 16px 0;
}

.listButtonWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listButton {
  display: flex;
  width: 198px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: var(--primary-primary-blue, #20c1ff);
  color: var(--primary-black-bg, #080f20);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.listButton:hover {
  background: var(--primary-primary-blue, #59ccfa);
}

.listButton.disable {
  background: rgba(13, 153, 255, 0.39);
  border: 1px solid var(--outline-dark);
}

.listButton.disable:hover {
  color: var(--outline);
}

.mainDetails {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--outline);
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.mainDetails svg {
  width: 1rem;
  height: fit-content;
  fill: #04111d;
  transform: rotate(180deg);
  transition: all 300ms ease;
}

.collectionHeader {
  display: flex;
  flex-direction: row;
}

.collectionHeader .text {
  color: var(--transparent-white-white-85, rgba(251, 251, 251, 0.85));

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.collectionHeader .accent {
  color: var(--secondary-pink, #f44550);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.collectionName {
  color: #009987;
  font-size: 0.5rem;
}

.nftId {
  font-size: 1.3rem;
}

.dropdownItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 8px;
}

.dropdownContent {
  transition: all 300ms ease-in-out;
  display: block;
  overflow: hidden;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
  width: 430px;

  display: flex;
  gap: 16px;
}

.buy,
.bid {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  display: flex;
  width: 148px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--primary-white, #ecf1f9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgba(56, 86, 255, 0.48);
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.buy:hover,
.bid:hover {
  border: 1px solid var(--primary-primary-blue, #20c1ff);
}

.buy.selected,
.bid.selected {
  border-radius: 3px;
  background: rgba(56, 86, 255, 0.48);
  border: 1px solid var(--primary-primary-blue, #20c1ff);
}

.heading {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e8eb;
  background-color: #f3f4f7;
}

.icon {
  width: 30px;
}

.amount {
  color: var(--main-color);
  font-weight: 550;
}

.chain {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row {
  margin-bottom: 1rem;
  color: var(--text-sub-heading);
}

.row span {
  color: var(--text-sub-heading);
}

.row span {
  float: right;
}

.mintOptions {
  padding: 1rem;
  height: 100%;
  transition: all 600ms ease-in-out;
}

.priceDescription {
  margin-bottom: 1.7rem;
  color: var(--text-sub-heading);
}

.inputWrapper {
  flex-direction: row;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid rgba(147, 163, 248, 0.24);
  background: rgba(8, 15, 32, 0.15);
  display: flex;
  height: 40px;
  padding: 4px 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  justify-content: space-between;
  color: var(--transparent-white-white-80, rgba(251, 251, 251, 0.8));

  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inputWrapper input,
.inputWrapper select {
  color: var(--primary-white, #ecf1f9);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.inputWrapper:hover {
  border-radius: 4px;
  border: 1px solid var(--primary-primary-blue, #20c1ff);
}

.inputWrapper button {
  transition: all 300ms;
  box-shadow: var(--btn-open);
}

.inputWrapper button:hover {
  cursor: var(--cursor-hover);
  text-shadow: 2px 2px 2px grey;
}
.disabled .mainDetails svg {
  transform: rotate(0deg);
}
.disabled .dropdownContent {
  display: none;
}

@keyframes expand {
  from {
    max-height: 0%;
  }
  to {
    max-height: 100%;
  }
}
@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.mtxText img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.mtxText span {
  font-size: 15px;
  font-weight: 450;
}

.marketplaces {
  display: flex;
  margin: 20px 0;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mtxText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.marketBtn {
  background-color: white;
  border: 1px solid var(--outline-dark);
  padding: 15px 20px;
  border-radius: 16px;
}

.marketBtn:hover {
  border-color: var(--main-color);
}

.activeMarketBtn {
  box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.26);
  border: 1.5px solid var(--main-color);
}

.mktSpan {
  font-size: 15px;
  color: var(--text-heading);
  font-weight: 450;
}

.marketContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.backButton {
  display: block;
}

.nft {
  display: flex;
  flex-direction: column;
}

.informationList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper.date {
  flex-grow: 4;
  width: initial;
}

.inputWrapper.time {
  width: initial;
}

@media (max-width: 1024px) {
  .container {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 1000px) {
  .marketplaces {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .marketplaces {
    width: 100% !important;
  }

  .section1 {
    grid-template-columns: 100%;
    gap: 56px;
  }

  .backButton {
    display: none;
  }

  .v_subsection1 {
    width: 100%;
    padding: 0;
  }

  .v_subsection1 h1 {
    display: block;
  }

  .v_subsection2 h1 {
    display: none;
  }

  .nft {
    flex-direction: column-reverse;
  }

  .dropdownContent {
    width: 100%;
  }

  .dropdownItems {
    justify-content: space-between;
  }

  .listButtonWrapper {
    margin-top: 32px;
  }

  .listButton {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .marketplaces {
    flex-direction: column !important;
  }
  .marketBtn {
    width: 10rem;
    margin-bottom: 10px;
  }
  .section1 {
    flex-direction: column;
  }

  .nftName {
    flex-direction: column;
    line-height: initial;
  }
  .header .title,
  .footer .account div {
    font-size: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
}
